body {
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    margin: 0;
    background-size: cover;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h2 {
    color:white;
    margin: 35px;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 30px;
    font-weight: normal;
    font-family: sans-serif;
}
p {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
img {
    float: right;
    height: 400px;
    width: 400px;
}