body {
  background-image: url("Untitled\ design.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.hum {
    display: flex;
    align-items: center;
}
.hum .hamburger {
  width: 35px;
  height: 18px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
}

.hum .hamburger .line1 {
  display: block;
  height: 4px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hum .hamburger .line2 {
  margin-left: 8px;
  height: 4px;
  width: 15px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hum .hamburger .line3 {
  display: block;
  height: 4px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hum .menu ul{
    display:flex;
    justify-content: space-between;
}
.hum .menu ul li {
    list-style: none;
    justify-content: space-between;
}
.hum .menu ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.hum .contact > ul {
    list-style: none;
}